* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 900px;
    margin: auto;
  }
  
  .logo img {
    width: 100px;
  }
  
  .footer {
    text-align: center;
  }
  
  .detail-produk img {
    width: 400px;
    height: auto;
    border-radius: 20px;
  }
  
  .detail-produk {
    margin-bottom: 30px;
    padding: 20px 18px;
    border-radius: 5px;
    background-color: #ebe9d7;
  }
  
  .detail-produk button {
    width: 50px;
    height: auto;
    margin-top: 10px;
  }